[run]
branch = True

[report]
omit = 
    build/*
    tests/*
    setup.py
    src/MockSZ/__init__.py
    src/MockSZ/*.swp
    src/MockSZ/__pycache__/*
    src/MockSZ/include/*
    src/MockSZ/cpp/*
    main.py
    shibokensupport/*
    pyscript
    signature_bootstrap.py
    GenerateDocs.py
